@model MyWallet.Models.PaymentType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PaymentTypeId" />
    <div class="form-group">
        <label asp-for="TypeName" class="control-label"></label>
        <input asp-for="TypeName" class="form-control" />
        <span asp-validation-for="TypeName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
