@model IEnumerable<MyWallet.Models.PaymentType>

@{
    ViewData["Title"] = "Payment Types";
}

<h1>Payment Types</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Type Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TypeName</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PaymentTypeId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.PaymentTypeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentTypeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
