@model MyWallet.Models.Payment

@{
    ViewData["Title"] = "家計簿記入";
}

<h1>家計簿記入</h1>

@* <h4>Payment</h4> *@
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Posted" class="control-label"></label>
                <input asp-for="Posted" class="form-control" />
                <span asp-validation-for="Posted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentName" class="control-label"></label>
                <input asp-for="PaymentName" class="form-control" />
                <span asp-validation-for="PaymentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label">支払い方法</label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId">
                    <option value=””>選択してください</option>
                </select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectNameId" class="control-label">　科目名</label>
                <select asp-for="SubjectNameId" class="form-control" asp-items="ViewBag.SubjectNameId">
                    <option value=””>選択してください</option>
                </select>
                <span asp-validation-for="SubjectNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
